
@font-face {
    font-family: "sf pro texte";
    src: url(font/FontsFree-Net-SFProText-Regular.ttf);
}




::before,::after,* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:"sf pro texte",'Times New Roman', Times, serif  ,"tahoma";
}
/* logo*/
.logo{
    text-align: center;
    margin: 0px auto;
    max-width: 75%;
   
    padding-top: 20px;
    
    
   
 
}
.git{
    margin: 0 auto;
}
.liens ul{
   
    display: flex;
    margin: 0 auto;
    flex-flow: row wrap;
    list-style-type: none;
    justify-content: center;
    
    width: 60%;
    height: 10%;
}
.liens ul li{
    margin: 10px  10px;
  font-family:"sf pro texte" ;
  font-size: 20px;
  color: #16355f;
  

  

}
.liens ul li a{
    font-size: 20px;
  color: #16355f;
}
/* container du premier gros block*/
.container{
  
    background-image: url(img/bg.svg);
    height: 120%;
   border-bottom: 8px solid  #efefef;

   
  
  
 

    
   
    
    
    
   
  
    
}
.bloc-text{
  
   
    width: 60%;
    height: 75%;
 
    margin-top: 30px;
   
  
   
}
.hp{
    font-weight: bolder;
    color:#16355f;
}
.bloc-text {
    
    color: #16355f;
    font-family:"sf pro texte"  ;
    margin-left: 20%;
   
}

.ici{
    color: #16355f; 
}
/*pharse*/
.pharse-un{
    margin: 0 auto;
    font-size: 25px;
    line-height: 30px;
}
.pharse-deux{
    margin: 0 auto;
    font-size: 25px;
}
.pharse-trois{
    margin: 30 auto;
    font-size: 25px;
    line-height: 30px;
}
.creer{
    margin: 20px;
}
.pharse-quatre{
   
    font-size: 20.8333px;
}
.ajouter{
    margin: 20px;
}
.btn{
    margin: 30px;
}
/* deuxieme bloc */
.rapide{
    
   width: 50%;
   margin-left: 20%;
   margin-top: 50px;
  

}
.npm{
    margin: 25px;
    width: 80%;
}
.title{
    font-size: 37.5px;
    font-family:"sf pro texte" ;
    color:#16355f;
    margin-bottom: 15px;
   

}
.para{
    font-size: 25px;
    font-family:"sf pro texte" ;
    color:#16355f;
   
    margin: 20px;
    
}
.h-5{
    margin-top: 20px;
}
.ca{
    color:#16355f;
}
.npm{
    font-size: 25px;
    font-family:"sf pro texte" ;
    color:#16355f;
}
.plus{
    color:#16355f;
}
/*troisieme block*/
.npm-install{
    background-color: rgba(231, 225, 225, 0.575);
   
    height: 15%;
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}
.sergey{
    font-size: 20px;
    font-family:monospace ;
    color:#16355f;
    padding-left: 10px;
    margin: 25px;
    
    
}
.block-quatre{
    font-size: 25px;
    font-family:"sf pro texte" ;
    color:#16355f;
    margin-left: 20%;
    width: 50%;
    margin-left: 20%;
    margin-top: 50px;
    
}
.scripts{
    font-size: 20px;
    font-family:monospace ;
    background-color:rgba(231, 225, 225, 0.575) ;
}
.json{
    font-size: 20px;
    font-family:monospace;
    color:#16355f;
    background-color:rgba(231, 225, 225, 0.575) ;
   
}
.header-sergey{
    background-color:rgba(231, 225, 225, 0.575) ;
}
.other-file{
  
   margin: 25px;
    font-size: 20px;
    font-family: monospace; 
}
.h-2{
    font-size: 37.5px;
    font-family:"sf pro texte" ;
    color:#16355f;
}
.container-4{
    width: 50%;
    margin-left: 20%;
    margin-top: 50px;
}
.generateur{
    font-size: 25px;
    font-family:"sf pro texte" ;
    color:#16355f;
}
.statique{
    color:#16355f;
}
.hugo{
    color:#16355f;
}
.y{
    color:#16355f;
}
.run{
    background-color: rgba(231, 225, 225, 0.575);
    width: 690px;
    height: 15%;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: left 5px;
    font-family: monospace;
    margin: 20px;

    
}
.deployer{
    margin: 20px;
    font-size: 25px;
}
.h-2{
    margin: 20px;
}
.start{
    background-color: rgba(231, 225, 225, 0.575);
    width: 670px;
    height: 15%;
     padding-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: monospace;
    margin: 20px;

}
.sont{
    font-size: 25px;
    font-family:"sf pro texte" ;
    color:#16355f; 
}
.ssg{
    font-size: 25px;
    font-family:"sf pro texte" ;
    color:#16355f; 
}
.partials{
    color:#16355f; 
}
.slo{
    color:#16355f; 
}
.fera{
    font-size: 25px;
    font-family:"sf pro texte" ;
    color:#16355f;
}
.cinq{
    font-size: 37.5px;
    font-family:"sf pro texte" ;
    color:#16355f;
    width: 50%;
    margin-left: 20%;
    margin-top: 50px;
}
.six{
    font-size: 25px;
    font-family:"sf pro texte" ;
    color:#16355f;
    width: 50%;
    margin-left: 20%;
    margin-top: 50px;
}
.si{
    background-color: rgb(231, 225, 225, 0.575) ;


}
.png{
    width: 50%;
    margin-left: 20%;
    margin-top: 50px;
    border: 1px solid rgb(216, 213, 213);
    opacity: .9;
    border-radius: 2px;
}
.sept{
    font-size: 25px;
    font-family:"sf pro texte" ;
    color:#16355f;
    width: 50%;
    margin-left: 20%;
    margin-top: 50px;
}
.entete{
    font-size: 20px;
    font-family:"sf pro texte" ;
    color:#16355f;
    width: 75%;
    margin-left: 20%;
    margin-top: 50px;
}
.tml{
    background-color:rgb(216, 213, 213) ;
}
.alt{
    width: 50%;
    margin-left: 20%;
    margin-top: 50px;
    border: 1px solid rgb(216, 213, 213);
    opacity: .9;
}
.tof-2{
    font-size: 25px;
    font-family:"sf pro texte" ;
    color:#16355f;
    width: 50%;
    margin-left: 20%;
    margin-top: 50px;

}
.top-2{
    font-size: 20px;
    font-family:"sf pro texte" ;
    color:#16355f;
    width: 75%;
    margin-left: 20%;
    
    margin-top: 50px;
}
.pns{
    width: 50%;
    margin-left: 20%;
    margin-top: 50px;
    
    opacity: .9;
    border-radius: 2px;
}
.sup{
    font-size: 25px;
    font-family:"sf pro texte" ;
    color:#16355f;
    width: 50%;
    margin-left: 20%;
    margin-top: 50px;
}
.pus{
    font-size: 25px;
    font-family:"sf pro texte" ;
    color:#16355f;
    width: 50%;
    margin-left: 20%;
    margin-top: 50px;
}
.node{
    color:#16355f;
}
.init{
    background-color: rgba(231, 225, 225, 0.575);
   
    font-size: 20px;
    font-family: monospace;
}

.il{
    font-size: 25px;
    font-family:"sf pro texte" ;
    color:#16355f;
    width: 50%;
    margin-left: 20%;
    margin-top: 50px;
}
.inst{
    background-color: rgba(231, 225, 225, 0.575);
    font-size: 20px;
   
    font-family: monospace;
}
.nous{
    font-size: 20px;
    font-family:"sf pro texte" ;
    color:#16355f;
    width: 50%;
    margin-left: 20%;
    margin-top: 50px;
}
.nv{
    background-color: rgba(231, 225, 225, 0.575);
   
    font-size: 20px;
    font-family: monospace;
}
.nv-js{
    background-color: rgba(231, 225, 225, 0.575);
   
    font-size: 20px;
    font-family: monospace;
}
.gr{

   width: 50%;
    margin-left: 20%;
    margin-top: 50px;
    
    opacity: .9;
    border-radius: 2px;
}
.mouse{
    font-size: 25px;
    font-family:"sf pro texte" ;
    color:#16355f;
    width: 50%;
    margin-left: 20%;
    margin-top: 50px;
}
.ads{
    background-color: rgba(231, 225, 225, 0.575);
    font-size: 20px;
   
    font-family: monospace;
}
.zp{
    font-size: 25px;
    font-family:"sf pro texte" ;
    color:#16355f;
    width: 50%;
    margin-left: 20%;
    margin-top: 50px;
}

.dernier{
    font-size: 25px;
    font-family:"sf pro texte" ;
    color:#16355f;
    width: 50%;
    margin-left: 20%;
    margin-top: 50px;
}
.dr{
    background-color: rgba(231, 225, 225, 0.575);
   
    font-size: 20px;
    font-family: monospace;
}
.yo{
    background-color: rgba(231, 225, 225, 0.575);
   
    font-size: 20px;
    font-family: monospace; 
}
.ft{
    display: flex;
   justify-content: space-evenly;
   margin-top: 40px;
   font-family:"sf pro texte" ;
}
.made{
    color:#16355f;
    font-size: 20px;
}
.jd{
    color:#16355f;
    font-size: 20px;
    
}
.public{
    background-color: rgba(231, 225, 225, 0.575);
   
    font-size: 20px;
    font-family:monospace; 
    margin: 20px;
}
.tr{
    font-size: 30px;
}
.trait{
    width: 60%;
    margin-left: 20%;
    margin-top: 20px;
    opacity: .5;
}

.conx{
    width: 80%;
    margin-left: 20%;
    margin-top: 30px;
    font-size: 25px;
    font-family:"sf pro texte" ;
    color:#16355f;

}
.con-1{
    width: 60%;
    margin-left: 10%;
    margin-top: 60px;
    margin-bottom: 20px;
    padding-right: 120px;
    line-height: 30px;
    
}
.container-m{
    background-image: url(img/bg.svg);
    height: 80%;
   border-bottom: 8px solid  #efefef;
  
  
  
   width: 99%;
}
.premier{
    font-size: 25px;
    font-family:"sf pro texte" ;
    color:#16355f;
    width: 50%;
    margin-left: 20%;
    margin-top: 50px;
}
.deuxieme{
    font-size: 25px;
    font-family:"sf pro texte" ;
    color:#16355f;
    width: 50%;
    margin-left: 20%;
    margin-top: 50px;
}
.trois{

 font-size: 25px;
    font-family:"sf pro texte" ;
    color:#16355f;
    width: 50%;
    margin-left: 20%;
   margin-top: 50px;
} 
.h-4{
    font-size: 25px;
    font-family:"sf pro texte" ;
    color:#16355f;
    width: 50%;
    margin-left: 20%;
    margin-top: 50px; 
}
.des{
    background-color: rgba(231, 225, 225, 0.575);
   
    font-size: 20px;
    font-family: monospace; 
}
.about{
    background-color: rgba(231, 225, 225, 0.575);
   
    font-size: 20px;
    font-family: monospace; 
}
.ba{
    font-size: 20px;
    font-family:monospace ;
    color:#16355f;
    width: 50%;
    margin-left: 20%;
    margin-top: 50px; 
    height: 30px;
    background-color: rgba(231, 225, 225, 0.575);
    padding-left: 10px;
    padding-top: 8px;
    margin-bottom: 20px;

}
.h-5{
    font-size: 37px;
    font-family:"sf pro texte" ;
    color:#16355f;
    width: 50%;
    margin-left: 20%;
    margin-top: 150px; 
}
.pre{
    font-size: 25px;
    font-family:"sf pro texte" ;
    color:#16355f;
    width: 50%;
    margin-left: 20%;
    margin-top: 50px;  
    margin-bottom: 25pcx;
}
.main{
   
}
.container-c{
    background-image: url(img/bg.svg);
    height: 50%;
   border-bottom: 8px solid  #d5d8d6;
  
}

.yv{
    background-color: rgba(231, 225, 225, 0.575);
   
    font-size: 20px;
    font-family: monospace; 
}
.vy{
    background-color: rgba(231, 225, 225, 0.575);
   
    font-size: 20px;
    font-family: monospace;   
}
.main{
    margin-left: 5%;
    width: 70%;
    
}
.lf{
    width: 800px;
    margin-left: 20%;
}

.arg{
    font-size: 25px;
    font-family:"sf pro texte" ;
    color:#16355f;
  
    margin-left: 20%;
   
}
.n{
    font-size: 20px;
    color:#16355f;
    background-color:rgba(231, 225, 225, 0.575) ;

}
.http{
    font-size: 25px;
    font-family:"sf pro texte" ;
    color:#16355f;
   
    margin-left: 20%;
    
   
    width: 70%;
  
}
.h{
    font-size: 20px;
    color:#16355f;
    background-color:rgba(231, 225, 225, 0.575) ;
}
.m{
    font-size: 25px;
    font-family:"sf pro texte" ;
    color:#16355f;
   
    margin-left: 20%;
    
   
    width: 70%;  
}
.r{
    font-size: 25px;
    font-family:"sf pro texte" ;
    color:#16355f;
   
    margin-left: 20%;
    
   
    width: 70%;  
}

















